<select multiple="multiple" data-role="tagsinput" id="inputTags" {{init-input-tags-events @tags this.tagAdded this.tagRemoved}}>
  {{#each @tags as |tag|}}
    <option value="{{tag}}" selected="selected">{{tag}}</option>
  {{/each}}
</select>
<div>{{@tags}}</div>