<select multiple="multiple" data-role="tagsinput" id="inputTags" {{init-input-tags-events @tags this.tagAdded this.tagRemoved}}>
  {{#each this.model.features.tags as |tag|}}
    <option value="{{tag}}" selected="selected">{{tag}}</option>
  {{/each}}
</select>